@charset "UTF-8";

button 
{
    margin-bottom: 10px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible
{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover
{
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color:black;
}
.collapsible:after 
{
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after 
{
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.catName {
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}

.nutFacts {
    max-height: auto;
}

.shrinkText 
{
    font-size: 9.5px;
}

.nutTable 
{
    font-size: 10px;
    text-align: left;
    padding-left: 10px;
}

.item {
    margin-bottom: 5px;
    height: 50px;
    width: 350px;
}