.tab {
    overflow: initial;
    border: 2px double white;
    background-color: white;
    text-align: center;
    font-family: Whata;
}

    .tab button {
        background-color: inherit;
        border: none;
        display: inline-block;
        outline: none;
        cursor: pointer;
        padding: 6px 12px;
        transition: 0.3s;
        font-size: 17px;
        line-height: 3em;
        color: black;
        text-align: center;
        font-family: 'whatafont_expandedexpanded';
    }

        .tab button.active {
            background-color: cornflowerblue;
        }

.tabcontent {
    display: none;
    text-align: center;
    padding-block: 6px 12px;
    border: 10px double white;
    margin: 2%;
    background-color: cornflowerblue;
    border-top: none;
    font-family: 'whatafont_expandedexpanded';
}

.space {
    margin-top: 160px;
}

.bigdot {
    list-style: none;
    text-align: center;
}

.img_ {
    border: 10px double white;
}

.footer_ {
    margin-block: 160px 200px;
}

/* Secret button */
.secret_{
    text-align: center;
    
    border-style: solid;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}



