html
{
    padding: 0px;
    margin: 0px;
}

header {
    padding: 0px;
    border: 1px;
    border-color: blue;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    margin: 0;
    background-color: blue;
    color: white;
    font-family: "Times New Roman", Times, serif;
}

li {
    width: 12%;
    text-align: center;
    padding: 0px;
    margin: 10px;
    display: inline-block;
    text-transform: uppercase;
}

footer {
    padding: 0px;
    border: 1px;
    border-color: #333;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    background-color: #333;
    color: white;
    font-family: "Times New Roman", Times, serif;
}

nav a:link 
{
    color: white;
    text-decoration: none;
}

nav a:visited
{
    color: white;
}

body {
    position: absolute;
    top: 200px;
    background-color: #848484;
    color: white;
    font-family: "Times New Roman", Times, serif;
}

button {
    text-transform: uppercase;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
}

table 
{
    text-align: left;
    margin-left: 100px;
    font-family: "Times New Roman", Times, serif;
    padding: 36px 0 32px;
}

td
{
    font-size: 14px;
}

th 
{
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: inherit;
}
.hidden
{
    visibility: hidden;
}

span
{
    position: absolute;
    right: 0;
}