html
{
    height: 100%;
    padding: 0px;
    margin: 0px;
}

header {
    padding: 0px;
    border: 1px;
    border-color: blue;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    margin: 0;
    background-color: blue;
    color: white;
    font-family: 'whatafont_expandedexpanded';
}

.topMenu {
    width: 12%;
    text-align: center;
    padding: 0px;
    margin: 10px;
    display: inline-block;
    text-transform: uppercase;
}

.bottomMenu {
    width: 12%;
    text-align: center;
    padding: 0px;
    margin: 10px;
    display: inline-block;
    float: left;
}

footer {
    padding: 0px;
    border: 1px;
    border-color: #333;
    width: 100%;
    margin-top: -100px;
    background-color: #333;
    color: white;
    font-family: 'whatafont_expandedexpanded';
}

nav a:link {
    color: white;
    text-decoration: none;
}

nav a:visited {
    color: white;
}

.content{
    min-height: 100%;
    margin-top: 190px;
}

body {
    margin: 0px;
    top: 200px;
    background-color: #848484;
    height: 100%;
    color: white;
    font-family: 'whatafont_expandedexpanded';
}

button {
    text-transform: uppercase;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'whatafont_expandedexpanded';
}

.table {
    width: 90%;
    margin-left: 8%;
    text-align: left;
    padding-left: 100px;
    font-family: 'whatafont_expandedexpanded';
    padding: 36px 0 32px;
}

td {
    font-size: 14px;
}

th {
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: inherit;
}

.hidden {
    visibility: hidden;
}

span 
{
    margin-left: 650px;
}

.tab {
    overflow: hidden;
    border: 1px solid blue;
    background-color: blue;
    text-align: center;
    display: inline-block;
}

    .tab button {
        background-color: inherit;
        border: none;
        display: inline-block;
        outline: none;
        cursor: pointer;
        padding: 6px 12px;
        transition: 0.3s;
        font-size: 17px;
        line-height: 3em;
        text-align: left;

    }

        .tab button.active {
            background-color: cornflowerblue;
        }

.tabcontent {
    display: none;
    text-align:center;
    padding: 6px 12px;
    border: 1px solid blue;
    background-color: cornflowerblue;
    border-top: none;
}
